/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  


  
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.slicknav_menu {
	display:none;
}
 .main-menu {
		display:block;
}	
.main-menu nav ul {
    text-align: left;
}
.main-menu nav ul li a {
    padding: 0px 26px 0px 0px;
    font-weight: 600;
    font-size: 12px;
}
.main-logo a img {
    height: 40px;
    width: 130px;
}
.homepage-banner-text h2 {
    font-size: 72px;
}
.homepage-banner-text {
    padding-top: 125px;
    padding-bottom: 70px;
}
.author-image-area img {
    height: 375px;
}
a.author-contact-btn {
    margin-top: 25px;
    float: left;
}
.service-header h2 {
    font-size: 30px;
    line-height: 30px;
}
.service-area {
    margin: 15px;
}
.resuem-header {
    padding-bottom: 5px;
}
.single-resume-text h2 {
    line-height: 26px;
}
.single-resume-text:before {
    top: 28px;
}
.work-header h2 {
    font-size: 30px;
    line-height: 30px;
	padding-bottom: 15px;
}
.single-works-list img {
    height: 150px;
}
.single-overlay-icon a i {
    margin: 5px;
}
.single-overlay-icon {
    top: 50px;
}
.single-works-list:hover .single-overlay-icon {
    left: 60px;
}
.single-success-text p {
    font-size: 14px;
}
.google-map-area p iframe {
    height: 350px;
}
.footer-section {
    padding: 40px 0px;
}


}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .main-menu {
		display:none;
}
	
.slicknav_menu {
	display:block;
}
 .header-top-section {
    display: none;
}

.homepage-banner-text h6 {
    font-size: 32px;
    line-height: 38px;
} 
.homepage-banner-text h2 {
    font-size: 26px;
    line-height: 40px;
}
.homepage-banner-text p {
    font-size: 20px;
}
.homepage-banner-text {
    padding-top: 50px;
    padding-bottom: 50px;
}
.author-image-area img {
    height: 425px;
}
a.author-contact-btn {
    margin-top: 25px;
    float: left;
}
.service-header h2 {
    font-size: 26px;
    line-height: 26px;
}
.service-area h2 {
    font-size: 16px;
    line-height: 20px;
}
.resuem-header {
    padding-bottom: 6px;
}
.work-header h2 {
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 12px;
}
.works-menu nav ul {
    margin: 30px 0px;
}
.works-menu nav ul li {
    padding: 7px 12px;
    margin: 3px 6px;
}
 .single-works-list:hover .single-overlay-icon {
    z-index: 2;
	left: 120px;
}
.single-success-text {
    padding: 30px 0px;
}
.contact-section {
    padding: 12px 0px;
}
.form-area {
    padding: 35px 40px;
} 
 .contact-form-btn input {
    margin-bottom: 50px;
}
.google-map-area p iframe {
    height: 300px;
} 
.footer-section {
    padding: 30px 0px;
} 
 
 .btn-group-lg>.btn, .btn-lg {
    padding: 7px 13px;
    font-size: 16px;
}
 
}
